body{
    padding: 0;
    margin: 0;
    background-color: rgb(27, 63, 22);
}
header{
    background-color: rgb(27, 63, 22);
}
nav{
    background-image: url(imagens/idososffelizes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;

}

.section1{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu, a{
   text-decoration: none;
    color: rgb(211, 211, 211);
    font-size: larger;
    text-shadow: 3px 1px black;
    display: flex;
    flex-direction:row;
    gap: 10px;
    width: 70%;
}

a:hover{
    color: rgb(255,255,153);
    font-weight: lighter;
}

.logo{
    font-size: xx-large;
    color: rgb(211, 211, 211);
}

.titulo{
    font-size: xx-large;
    text-shadow: 3px 1px #ffffff;
    color: rgb(27, 63, 22);
    text-align: center;
    padding: 350px;   
}

.subtitulo{
    text-align: center;
    font-size: x-large;
}




.imagem1{
    width: 300px;
    padding-left: 100px;
}



.insta{
    display: flex;
    flex-wrap: row;
    padding: 10px;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconers, .imgemail{
    width: 20px;
    height: 30px;
    padding: 10px;
}

.contato, .email{
    display: flex;
    flex-direction:row;
    align-items: center;
}

footer{
    background-color: rgb(27, 63, 22);
    padding: 20px 50px;
    display: flex;
    gap:100px;
    text-align: center;
    justify-content: space-between;
    color: rgb(211, 211, 211);
}